<div>
    <div class="image-container">
        <img src="{{img}}" alt="{{img_description}}">
    </div>
    <h3 class="movie-title">{{MovieTitle}}</h3>
    <ul class="movie-properties-list">
        <li class="movie-properties-item">
           <span>Vote/Votes</span> <span>{{rate}}/{{votes}}</span>
        </li>
         <li class="movie-properties-item">
           <span>Popularity</span> <span>{{Prate}}</span>
        </li>
        <li class="movie-properties-item">
           <span>Original Title</span> <span>{{Original Title}}</span>
        </li>
        <li class="movie-properties-item">
           <span>Genre</span> <span>{{genre}}</span>
        </li>
    </ul>
</div>