{{#each this}}
<li class="poster-card">
    <div class="poster-image-box">
        <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="movie poster" class="poster-image" id="{{id}}"/>
    </div>
    <h3 class="poster-name">{{original_title}}</h3>
    <div class="poster-description-info">
        <p class="poster-description">{{#each genres}}<span>{{this}}</span> {{/each}}| {{year_relaese}}</p>
    </div>
</li>
{{/each}}